body {
	color: white;
	font-family: sans-serif;
	background-color: black;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#menuTitle,
#creditsTitle,
#loading,
#hud > button {
	display: none;
}

#main {
	display: block;
	margin: auto;
	position: relative;
}

canvas,
#hud {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

canvas {
	/*image-rendering: pixelated;*/
}

#hud {
	pointer-events: none;
}

#hud > button {
	pointer-events: initial;
	border: 2px solid #75c2c6;
	border-radius: 0.25em;
	font-size: 2em;
	cursor: pointer;
}

#hud .title {
	color: white;
	text-align: center;
	font-size: 4em;
	font-family: serif;
	margin: 0;
}

#hud .subtitle {
	color: #75c2c6;
	text-align: center;
	font-size: 1.6em;
	font-family: sans-serif;
	font-style: italic;
	margin: 0;
	font-weight: normal;
}

#hud #loading .title {
	font-family: sans-serif;
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
	font-size: 1.6em;
}

#loadingWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4em;
	font-size: 1.5em;
	margin: 0.4em 0;
}

#loadingBarBackground {
	width: 30%;
	height: 0.6em;
	background-color: #383838;
}

#loadingBar {
	width: 20%;
	height: 100%;
	background-color: #75c2c6;
}

#creditsTitle {
	text-align: center;
}

#creditsTitle ul {
	list-style-type: none;
	padding: 0;
}

.creditsColumns {
	display: flex;
	justify-content: center;
	gap: 5em;
}

.creditsColumns > div {
	width: 20em;
}

.mainCredits li {
	display: flex;
	flex-direction: column;
	margin: 1.5em 0;
}

.mainCredits .comment {
	color: #dacd9e;
	font-size: 1.5em;
	margin: 1em 0;
}

.mainCredits .role {
	color: #75c2c6;
	font-size: 1.5em;
	font-style: italic;
}

.mainCredits .name {
	color: white;
	font-size: 2em;
}

.soundCredits {
	color: white;
	margin-top: 4.5em;
}

.soundCredits .comment {
	font-weight: bold;
}

.soundCredits .role {
	font-style: italic;
}

.soundCredits .role:before {
	content: '(';
}
.soundCredits .role:after {
	content: ')';
}

#msgCenter {
	text-align: center;
}
